{% extends 'blog/base.html' %}

{% block title %}
    Страница авторизации
{% endblock %}

{% block content %}
    <h1>Страница авторизации</h1>
    <form method="post" class="form-register auth">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="bnt-outline-warning" type="submit">Войти</button>

    </form>

{% endblock %}


 {% block aside_block %}
     <h4> Облака </h4>
     <img src="https://c.pxhere.com/photos/44/ca/cumulus_nimbus_cloud_white_large_dramatic_weather_sky_australia-781881.jpg!d" class="img-thumbnail">

 {% endblock %}